[submodule "extern/XKCP"]
	path = extern/XKCP
	url = https://github.com/XKCP/XKCP
[submodule "extern/KeccakTools"]
	path = extern/KeccakTools
	url = git@github.com:KeccakTeam/KeccakTools.git
[submodule "extern/Ketje"]
	path = extern/Ketje
	url = git@github.com:jackap/Ketje.git
